page-home {

}

.manual{
    background-color:gray;
    
}

.facebook{
    background-color: blue($color: #000000);
}

.twitter{
    background-color: rgb(54, 171,224);
}

.google{
    background-color: lightcoral;
}

.logout{
    background-color: red;
}

